[submodule "Tareas/Actividad_1_portafolio/Data_Structures"]
	path = Tareas/Actividad_1_portafolio/Data_Structures
	url = https://github.com/Marlon-vc/Data_Structures.git
[submodule "Tareas/Tarea_Algoritmos_Geneticos/PoC_Algoritmos_Geneticos"]
	path = Tareas/Tarea_Algoritmos_Geneticos/PoC_Algoritmos_Geneticos
	url = https://github.com/Marlon-vc/PoC_Algoritmos_Geneticos.git

[submodule "Proyectos_programados/TecFlix"]
	path = Proyectos_programados/TecFlix
	url = https://github.com/paola0298/TecFlix.git
[submodule "Proyectos_programados/CEvsEstudiantes"]
	path = Proyectos_programados/CEvsEstudiantes
	url = https://github.com/paola0298/CEvsEstudiantes.git
[submodule "Proyectos_programados/Microservices"]
	path = Proyectos_programados/Microservices
	url = https://github.com/paola0298/Microservices
[submodule "Tareas/TareaExtraclase4"]
	path = Tareas/TareaExtraclase4
	url = https://github.com/Marlon-vc/TareaExtraclase4.git
